<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Proyecto Estadísticas Idiomas</title>
    <link rel="stylesheet" href="~/css/estilos.css" />
    <!-- Referencias a otras librerías CSS aquí -->
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <!-- Scripts al final para cargar la página más rápido -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <!-- Incluir aquí otras librerías JavaScript como Chart.js -->
</body>
</html>
