@{
    ViewData["Title"] = "Buscar País";
    var listaPaises = ViewData["ListaPaises"] as List<ArquitecturaG1.Models.DTO.PaisesDto>;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <h1>@ViewData["Title"]</h1>

    <div class="content search">
        <form asp-action="BuscarPaises" method="post">
            <input type="text" name="nombrePais" placeholder="Buscar país..." autocomplete="off">
            <ul class="autocomplete" id="countryList"></ul>
            <button type="submit">Buscar</button>
        </form>
    </div>

    @if (listaPaises != null && !listaPaises.Any())
    {
        <p>No se encontraron resultados.</p>
    }

    @section Scripts {
      @*   autocompletar pendiente *@
        <script src="~/js/autocomplete.js"></script>

        <script src="~/js/script.js"></script> <!-- Agrega esta línea para enlazar script.js -->
    }

</body>
</html>




