@{
    ViewData["Title"] = "Buscar País";
}

<h1>@ViewData["Title"]]</h1>

<form asp-controller="Home" asp-action="BuscarPaises" method="post">
    <input type="text" id="nombrePais" name="nombrePais" placeholder="Buscar país..." autocomplete="off">
    <button type="submit">Buscar</button>
</form>

<datalist id="countryList"></datalist>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(function() {
            var countries = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/Home/BuscarPaises?nombrePais=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            
            $('#nombrePais').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                name: 'countries',
                source: countries
            });

            $('#nombrePais').bind('typeahead:select', function(ev, suggestion) {
                console.log('Selection: ' + suggestion);
            });
        });
    </script>
    <script src="~/lib/typeahead.js/dist/typeahead.bundle.min.js"></script>
}





