                                 <!--Pagina principal html-->
@using ArquitecturaG1.Models.DTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Idiomas por País</title>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="search-container">
        <input type="text" id="nombrePais" placeholder="Buscar país..." autocomplete="off">
        <button id="buscarPaisesBtn">Buscar</button>
    </div>

    <div class="table-container">
        <table id="tablaIdiomas">
            <thead>
                <tr>
                    <th>Idioma</th>
                    <th>Oficial</th>
                    <th>Porcentaje</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los datos de los idiomas se llenarán aquí -->
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/js/functions.js"></script>
</body>
</html>
